<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>CAPEX DE 2.0</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-datepicker/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-daterangepicker/daterangepicker.css" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
  <style type="text/css">
  	.width-adjust-20 {
  		max-width: 20%;
  	}
  	
  	.width-adjust-50 {
  		max-width: 50%;
  	}
  	
  	#calc-table {
  		font-weight: 900;
  	}
  </style>
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="/capex/form" class="logo"><b>CAPEX<span> DE</span> 2.0</b></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
        	<li><img alt="pertamina" src="img/pertamina-wh.png" style="max-height: 50px; margin-top: 5px;"></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <!-- <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Sam Soffes</h5> -->
          <!-- <li class="mt">
            <a href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>UI Elements</span>
              </a>
            <ul class="sub">
              <li><a href="general.html">General</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="panels.html">Panels</a></li>
              <li><a href="font_awesome.html">Font Awesome</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-cogs"></i>
              <span>Components</span>
              </a>
            <ul class="sub">
              <li><a href="grids.html">Grids</a></li>
              <li><a href="calendar.html">Calendar</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="todo_list.html">Todo List</a></li>
              <li><a href="dropzone.html">Dropzone File Upload</a></li>
              <li><a href="inline_editor.html">Inline Editor</a></li>
              <li><a href="file_upload.html">Multiple File Upload</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>Extra Pages</span>
              </a>
            <ul class="sub">
              <li><a href="blank.html">Blank Page</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="lock_screen.html">Lock Screen</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li><a href="invoice.html">Invoice</a></li>
              <li><a href="pricing_table.html">Pricing Table</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="404.html">404 Error</a></li>
              <li><a href="500.html">500 Error</a></li>
            </ul>
          </li> -->
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Calculation </span>
              </a>
            <ul class="sub">
              <li class="active"><a href="/capex/form">Start Calculation</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="#">
            	<i class="fa fa-inbox"></i>
            	<span>Storage Tank </span>
           	</a>
          </li>
          <li class="sub-menu">
            <a href="#">
            	<i class="fa fa-anchor"></i>
            	<span>Dermaga </span>
           	</a>
          </li>
          <li class="sub-menu">
            <a href="#">
            	<i class="fa fa-plane"></i>
            	<span>DPPU </span>
           	</a>
          </li>
          <li class="sub-menu">
            <a href="#">
            	<i class="fa fa-fire-extinguisher"></i>
            	<span>Depot LPG </span>
           	</a>
          </li>
          <li class="sub-menu">
            <a href="#">
            	<i class="fa fa-code-fork"></i>
            	<span>Pipeline </span>
           	</a>
          </li>
          <li class="sub-menu">
            <a href="#">
            	<i class="fa fa-sort-amount-desc"></i>
            	<span>Terminal BBM </span>
           	</a>
          </li>
          <li class="sub-menu">
            <a href="#">
            	<i class="fa fa-tasks"></i>
            	<span>SPM </span>
           	</a>
          </li>
          <li class="sub-menu">
            <a href="/capex/logout" style="color: red !important;">
            	<i class="fa fa-power-off"></i>
            	<span>Logout </span>
           	</a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Start Calculation</h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <!-- <h4 class="mb"><i class="fa fa-angle-right"></i> Form Elements</h4> -->
              <div id="warning-alert" class="alert alert-danger alert-dismissable" hidden>
                <button type="button" class="close" onclick="dismissAlert()" aria-hidden="true">&times;</button>
                <strong>Uuups!</strong> Ada data yang belum lengkap.
              </div>
              <form class="form-horizontal style-form" method="get">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Estimate Class</label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select class="form-control" onchange="changeEstimate(this)">
                    	<option selected>Pilih class</option>
                    	<option disabled>Class 3 Estimate</option>
                    	<option>Class 4 Estimate</option>
                    	<option>Class 5 Estimate</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="metodology_label">
                	<label class="col-sm-2">Estimated Class & Metodology</label>
                	<label id="class_method_label" class="col-sm-3">: Equipment Factored</label>
                </div>
                <div class="form-group" id="accuracy_label">
                	<label class="col-sm-2">Expected Accuracy</label>
                	<label id="class_acc_label" class="col-sm-3">: -30% to +50%</label>
                </div>
                <div class="form-group" id="project_name">
                  <label class="col-sm-2 control-label">Project Name </label>
                  <div class="col-sm-8 form-inline">
                  	<input id="project_name_input" class="form-control" type='text' placeholder="Project ABC"/>
                  </div>
                </div>
                <div class="form-group" id="facility_container">
                  <label class="col-sm-2 control-label">Sarana dan Fasilitas </label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="facility_input" class="form-control" onchange="changeFacility(this)">
                    	<option selected>Pilih fasilitas</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="kelasdppu_container" hidden>
                  <label class="col-sm-2 control-label">Kelas DPPU </label>
                  <div class="col-sm-1">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="kelas_dppu" class="form-control">
                    	<option value="5">Kelas V</option>
                    	<option value="4">Kelas IV</option>
                    	<option value="3">Kelas III</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="depotlpg_container" hidden>
                  <label class="col-sm-2 control-label">Kapasitas Depot LPG </label>
                  <div class="col-sm-1">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="lpg_cap" class="form-control">
                    	<option value="3000">3000</option>
                    	<option value="4000">4000</option>
                    	<option value="5000">5000</option>
                    	<option value="6000">6000</option>
                    	<option value="9000">9000</option>
                    	<option value="12000">12000</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="tangkidppu_container" hidden>
                  <label class="col-sm-2 control-label">Kapasitas Total Tangki (KL) </label>
                  <div id="tankidppu_dynamic_list">
	                  <div id="tankidppu_dynamic" class="col-sm-offset-2" style="margin-top: 10px;">
		                  <div class="col-sm-12 form-inline">
		                  	<input id="tangkidppu_input" class="form-control width-adjust-50" type='number'/>
		                  	<label>KL</label>
		                  	<input id="tangkidppu_count_input" class="form-control width-adjust-50" type='number'/>
		                  	<label>Unit</label>
		                  	<button id="addmoretankidppu_btn" class="form-control width-adjust-50" onclick="addMoreTankiDppu()" type='button'><i class="fa fa-plus"></i></button>
		                  </div>
	                  </div>
                  </div>
                </div>
                <div class="form-group" id="jenisstoragetank_container" hidden>
                  <label class="col-sm-2 control-label">Jenis Tangki </label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="jenisstoragetank_input" class="form-control">
                    	<option value="Non Avtur - Include Foundation">Non Avtur - Include Foundation</option>
                    	<option value="Avtur Include Floating Suction, Foundation">Avtur Include Floating Suction, Foundation</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="tangkistoragetank_container" hidden>
                  <label class="col-sm-2 control-label">Kapasitas Total Tangki (KL) </label>
                  <div class="col-sm-2 form-inline">
                  	<input id="tangkistoragetank_input" class="form-control width-adjust-50" type='number'/>
                  	<label>KL</label>
                  </div>
                </div>
                <div class="form-group" id="jenispipeline_container" hidden>
                  <label class="col-sm-2 control-label">Jenis Pipeline </label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="jenispipeline_input" class="form-control">
                    	<option value="Onshore Cross Country Pipeline (BBM)">Onshore Cross Country Pipeline (BBM)</option>
                    	<option value="Offshore Pipeline (BBM)">Offshore Pipeline (BBM)</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="panjangpipeline_container" hidden>
                  <label class="col-sm-2 control-label">Panjang Pipeline (M) </label>
                  <div class="col-sm-2 form-inline">
                  	<input id="panjangpipeline_input" class="form-control width-adjust-50" type='number'/>
                  	<label>M</label>
                  </div>
                </div>
                <div class="form-group" id="diameterpipeline_container" hidden>
                  <label class="col-sm-2 control-label">Diameter Pipeline (Inch) </label>
                  <div class="col-sm-2 form-inline">
                  	<input id="diameterpipeline_input" class="form-control width-adjust-50" type='number'/>
                  	<label>Inch</label>
                  </div>
                </div>
                <div class="form-group" id="tangki_container" hidden>
                  <label class="col-sm-2 control-label">Kapasitas Total Tangki </label>
                  <div id="tanki_dynamic_list">
	                  <div id="tanki_dynamic" class="col-sm-offset-2" style="margin-top: 10px;">
		                  <div class="col-sm-2">
		                    <!-- <input type="text" class="form-control"> -->
		                    <select id="tangkibbm_cap" class="form-control">
		                    	<option value="500">500</option>
		                    	<option value="1000">1000</option>
		                    	<option value="1500">1500</option>
		                    	<option value="2000">2000</option>
		                    	<option value="2500">2500</option>
		                    	<option value="5000">5000</option>
		                    	<option value="7500">7500</option>
		                    	<option value="10000">10000</option>
		                    	<option value="12500">12500</option>
		                    	<option value="15000">15000</option>
		                    	<option value="20000">20000</option>
		                    	<option value="25000">25000</option>
		                    	<option value="30000">30000</option>
		                    	<option value="40000">40000</option>
		                    	<option value="50000" selected>50000</option>
			                </select>
		                  </div>
		                  <div class="col-sm-10 form-inline">
		                  	<input id="tankibbm_unit" class="form-control width-adjust-50" type='text'/>
		                  	<label>Unit</label>
		                  	<button id="addmoretanki_btn" class="form-control width-adjust-50" onclick="addMoreTanki()" type='button'><i class="fa fa-plus"></i></button>
		                  </div>
	                  </div>
                  </div>
                </div>
                <div class="form-group" id="dermaga_container" hidden>
                  <label class="col-sm-2 control-label">Jenis Dermaga </label>
                  <div id="trestle_dynamic_list">
                  	<div id="trestle_dynamic" class="col-sm-offset-2">
	                  	<div class="col-sm-3">
	                    <!-- <input type="text" class="form-control"> -->
	                    <select id="dermaga_input" class="form-control">
	                    	<option value="Type LR & MR (50.000 DWT-100.000 DWT)" selected>Type LR & MR (50.000 DWT-100.000 DWT)</option>
	                    	<option value="Type MR & GP (17.500 DWT-50.000 DWT)">Type MR & GP (17.500 DWT-50.000 DWT)</option>
	                    	<option value="Type Small 2 (6.500 DWT)">Type Small 2 (6.500 DWT)</option>
	                    	<option value="Type Small 1 (3.500 DWT)">Type Small 1 (3.500 DWT)</option>
	                    	<option value="Type Lighter (1.500 DWT)">Type Lighter (1.500 DWT)</option>
		                </select>
	                  </div>
	                  <div class="col-sm-9 form-inline">
                  		<label class="col-sm-1 control-label">Panjang Trestle </label>
	                    <input type="number" id="trestle_input" class="form-control width-adjust-50">
	                    <label>M</label>
	                    <button id="addmoretrestle_btn" class="form-control width-adjust-50" onclick="addMoreTrestle()" type='button'><i class="fa fa-plus"></i></button>
	                  </div>
                  	</div>
                  </div>
                </div>
                <div class="form-group" id="jetty_container" hidden>
                  <label class="col-sm-2 control-label">Spesifikasi Jetty </label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="jetty_input" class="form-control">
                    	<option value="Type LR & MR (50.000 DWT-100.000 DWT)" selected>Type LR & MR (50.000 DWT-100.000 DWT)</option>
                    	<option value="Type MR & GP (17.500 DWT-50.000 DWT)">Type MR & GP (17.500 DWT-50.000 DWT)</option>
                    	<option value="Type Small 2 (6.500 DWT)">Type Small 2 (6.500 DWT)</option>
                    	<option value="Type Small 1 (3.500 DWT)">Type Small 1 (3.500 DWT)</option>
                    	<option value="Type Lighter (1.500 DWT)">Type Lighter (1.500 DWT)</option>
	                </select>
                  </div>
                </div>
                <!-- <div class="form-group form-inline" id="trestle_container" hidden>
                  <label class="col-sm-2 col-sm-2 control-label">Penjang Trestle Dermaga </label>
                  
                </div> -->
                <div class="form-group" id="jettyhead_container" hidden>
                  <label class="col-sm-2 control-label">Jetty Head </label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="jettyhead_input" class="form-control">
                    	<option value="Capacity 25,000 ~ 65,000 DWT" selected>Capacity 25,000 ~ 65,000 DWT</option>
                    	<option value="Capacity 3,500 ~ 25,000 DWT">Capacity 3,500 ~ 25,000 DWT</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="mooringdolphin_container" hidden>
                  <label class="col-sm-2 control-label">Mooring Dolphin </label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="mooringdolphin_input" class="form-control">
                    	<option value="Capacity 25,000 ~ 65,000 DWT" selected>Capacity 25,000 ~ 65,000 DWT</option>
                    	<option value="Capacity 3,500 ~ 25,000 DWT">Capacity 3,500 ~ 25,000 DWT</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="breastingdolphin_container" hidden>
                  <label class="col-sm-2 control-label">Breasting Dolphin </label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="breastingdolphin_input" class="form-control">
                    	<option value="Capacity 25,000 ~ 65,000 DWT" selected>Capacity 25,000 ~ 65,000 DWT</option>
                    	<option value="Capacity 3,500 ~ 25,000 DWT">Capacity 3,500 ~ 25,000 DWT</option>
	                </select>
                  </div>
                </div>
                <div class="form-group" id="trestletype_container" hidden>
                  <label class="col-sm-2 control-label">Trestle Type </label>
                  <div class="col-sm-3">
                    <!-- <input type="text" class="form-control"> -->
                    <select id="trestletype_input" class="form-control">
                    	<option value="Trestle Type I (Lebar 14 M/ 3 Pile, Bentang 12 M)" selected>Trestle Type I (Lebar 14 M/ 3 Pile, Bentang 12 M)</option>
                    	<option value="Trestle Type II (Bentang 6,5 M)">Trestle Type II (Bentang 6,5 M) </option>
	                </select>
                  </div>
                </div>
                <div class="form-group form-inline" id="catwalk_container" hidden>
                  <label class="col-sm-2 col-sm-2 control-label">Catwalk </label>
                  <div class="col-sm-2">
                    <input type="number" id="catwalk_input" class="form-control width-adjust-50">
                    <label>M</label>
                  </div>
                </div>
                <div class="form-group form-inline" id="kurs_container" hidden>
                  <label class="col-sm-2 col-sm-2 control-label">Nilai Kurs 1 USD = Rupiah </label>
                  <div class="col-sm-2">
                  	<label>1 US$ = </label>
                    <input id="kurs_input" type="number" class="form-control width-adjust-50">
                    <label>IDR</label>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Help text</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                    <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Rounder</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control round-form">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Input focus</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="focusedInput" type="text" value="This is focused...">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Disabled</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Placeholder</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="placeholder">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">Static control</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">email@example.com</p>
                  </div>
                </div> -->
                
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-1">
                    <input type="button" class="form-control btn-cancel" onclick="return doReset()" value="Reset">
                  </div>
                  <div class="col-sm-1">
                    <input type="submit" class="form-control btn-theme" onclick="return doCalculate()" value="Calculate">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
        <!-- /row -->
        <section class="wrapper" id="table_section">
	        <h3 id="table_title"><i class="fa fa-angle-right"></i> TERMINAL BBM KAPASITAS 200.000 KL (BASIS HARGA TANJUNG UBAN)</h3>
	        <h4 id="table_title_h4"></h4>
	        <div class="row mt">
	          <div class="col-lg-12">
	            <div class="content-panel" style="padding-left:10px; padding-right: 10px;">
	              <!-- <h4><i class="fa fa-angle-right"></i> DPPU Class V (3 x 300 KL)</h4> -->
	              <section class="calculation-section" id="unseen">
	              	<div class="form-group col-sm-12">
	                	<label class="col-sm-2">Project Name</label>
	                	<label id="project_name_label" class="col-sm-3">Project ABCD</label>
	                </div>
	                <div class="form-group col-sm-12" id="accuracy_label">
	                	<label class="col-sm-2">Class Estimate</label>
	                	<label id="class_est_table" class="col-sm-3">: Class 5 Estimate</label>
	                </div>
	                <div class="form-group col-sm-12" id="metodology_label">
	                	<label class="col-sm-2">Estimated Class & Metodology</label>
	                	<label id="class_method_table" class="col-sm-3">: Equipment Factored</label>
	                </div>
	                <div class="form-group col-sm-12" id="accuracy_label">
	                	<label class="col-sm-2">Expected Accuracy</label>
	                	<label id="class_acc_table" class="col-sm-3">: -30% to +50%</label>
	                </div>
	              	<div class="form-group col-sm-12">
	                	<label class="col-sm-2">Author</label>
	                	<label id="author_name_label" class="col-sm-3" th:text="${username}"></label>
	                </div>
	                <table id="calc-table" class="table table-bordered table-striped table-condensed">
	                  <thead>
	                    <tr>
	                      <th>No</th>
	                      <th>Items</th>
	                      <th class="numeric">Remarks</th>
	                      <th class="numeric">Quantity</th>
	                      <th class="numeric">Satuan</th>
	                      <th class="numeric">Unit Price (Incl. Jasa) Rp</th>
	                      <th class="numeric">Total Price (Incl. Jasa) Rp</th>
	                      <th class="numeric">Total Price (Incl. Jasa) USD</th>
	                    </tr>
	                  </thead>
	                  <tbody id="calculation_tbody">
	                  </tbody>
	                </table>
	              </section>
	              <div>
	              	<input type="button" id="btnConvert" class="form-control btn-theme" onclick="convertPdf()" value="Print">
              		</div>
	            </div>
	          </div>
	        </div>
	      </section>
      </section>
      <section id="main-content">
	      
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
        <a href="form_component.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="lib/jquery.scrollTo.min.js"></script>
  <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="lib/common-scripts.js"></script>
  <!--script for this page-->
  <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
  <!--custom switch-->
  <script src="lib/bootstrap-switch.js"></script>
  <!--custom tagsinput-->
  <script src="lib/jquery.tagsinput.js"></script>
  <!--custom checkbox & radio-->
  <script type="text/javascript" src="lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="lib/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="lib/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="lib/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
  <script src="lib/form-component.js"></script>
  
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script> -->
  <!-- <script type="text/javascript" src="js/html2canvas.min.js"></script> -->
  
	<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jspdf@1.5.3/dist/jspdf.min.js"></script>
  <script type="text/javascript" src="js/main-form.js"></script>

</body>

</html>
